# Project exclude paths
/.gradle/
/android/build/
/android/build/intermediates/javac/debug/classes/
/common/build/
/common/build/classes/kotlin/desktop/main/
/desktop/build/
/desktop/build/classes/kotlin/jvm/main/

/common/src/commonMain/kotlin/com/qwert2603/multi_public/common/Config.kt